doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title= title
    link(href='../../dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='../../assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    link(href='../navbar/navbar.css', rel='stylesheet')
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    script(src='../../assets/js/ie-emulation-modes-warning.js')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
      nav.navbar.navbar-default
        .container-fluid
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='/url') Url
              li
                a(href='/upload') UploadImage
              li
                a(href='/recent') Recent Captions
      .jumbotron
        h1 Welcome! Image Captioning Service
        p
          .panel.panel-success
            .panel-heading
              h3.panel-title #{imgCaption}
            .panel-body
              img(src= imgUrl)

    script(src='../../dist/js/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='../../dist/js/bootstrap.min.js')
    script(src='../../assets/js/ie10-viewport-bug-workaround.js')